@model WebshopApplication.Models.Customer

@{
    ViewData["Title"] = "Edit Customer";
}

<h1>Edit Customer</h1>

<form asp-action="Edit" method="post">
    <div>
        <input type="hidden" id="CustomerId" name="CustomerId" value="@Model.CustomerId">
    </div>
    <div>
        <label for="FirstName">First Name:</label>
        <input type="text" id="FirstName" name="FirstName" value="@Model.FirstName" required>
    </div>
    <div>
        <label for="LastName">Last Name:</label>
        <input type="text" id="LastName" name="LastName" value="@Model.LastName" required>
    </div>
    <div>
        <label for="Email">Email:</label>
        <input type="email" id="Email" name="Email" value="@Model.Email" required>
    </div>
    <div>
        <label for="Phone">Phone:</label>
        <input type="text" id="Phone" name="Phone" value="@Model.Phone" required>
    </div>
    <div>
        <label for="StreetName">Street Name:</label>
        <input type="text" id="StreetName" name="StreetName" value="@Model.StreetName" required>
    </div>
    <div>
        <label for="HouseNumber">House Number:</label>
        <input type="number" id="HouseNumber" name="HouseNumber" value="@Model.HouseNumber" required>
    </div>
    <div>
        <label for="ZipCode">Zip Code:</label>
        <input type="number" id="ZipCode" name="ZipCode" value="@Model.ZipCode" required>
    </div>
    <button type="submit">Save Changes</button>
</form>
<a href="/Customer">Back to List</a>