@model ModelAPI.Product

@{
    ViewData["Title"] = "Delete Product";
}

<h1>Delete Product</h1>

<div>
    <strong>ID:</strong> @Model.ProductId
</div>
<div>
    <strong>Name:</strong> @Model.ProductName
</div>
<div>
    <strong>Price:</strong> @Model.ProductPrice
</div>
<div>
    <strong>Description:</strong> @Model.ProductDescription
</div>
<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" name="id" value="@Model.ProductId">
    <button type="submit">Delete</button>
</form>
<a href="/Product">Back to List</a>
