@model WebshopApplication.Models.Product

@{
    ViewData["Title"] = "Product Details";
}

<h1>Product Details</h1>

<div>
    <strong>ID:</strong> @Model.ProductId
</div>
<div>
    <strong>Name:</strong> @Model.ProductName
</div>
<div>
    <strong>Price:</strong> @Model.ProductPrice
</div>
<div>
    <strong>Description:</strong> @Model.ProductDescription
</div>
<div>
    <strong>Stock:</strong> @Model.Stock
</div>
<a href="/Product">Back to List</a>